* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Helvetica, sans-serif, Arial;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#site-body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: flex-start;
}

#site-main {
	display: grid;
	grid-template-areas:
		"projects items";
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	height: 100%;
}

#site-main > div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: flex-start;
}

#site-main > #site-projects {
	grid-area: projects;
	background-color: #555;
}

.project-container {
	width: 80%;
	background-color: #534ADF;
}

#site-main > #site-items {
	grid-area: items;
	background-color: #888;
}

#site-footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	height: 100px;
}

@media all and (max-width: 1000px) {
	#site-main {
		grid-template-areas:
			"projects"
			"items";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
	}
}
