* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Helvetica, sans-serif, Arial;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#site-body {
	display: flex;
	flex-direction: column;
}

#site-main {
	flex-grow: 1;
	display: grid;
	grid-template-areas:
		"projects items";
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	height: 100%;
}

#site-main > div {
	display: flex;
	flex-direction: column;
}

#site-main > #site-projects {
	grid-area: projects;
	background-color: #555;
	align-content: flex-start;
	justify-content: flex-start;
}

#site-projects > #site-projects-header {
	height: 50px;
	background-color: #FFFFFF;
}

#site-projects-header > #add-project {
	display: block;
	margin: auto;
	margin-top: 5px;
}

#site-projects-body {
	height: 840px;
	overflow-y: scroll;
}

.project-container {
	display: block;
	width: 90%;
	height: 100px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #534ADF;
	border-radius: 5px;
}

@keyframes project-container-background {
	from {background-color: #534ADF;}
	to {background-color: #6F6ABA;}
}

.project-container:hover {
	animation-name: project-container-background;
	animation-duration: 1.5s;
	cursor: pointer;
	background-color: #6F6ABA;
}

.project-contaier > #project-title {

}

.project-container > hr {
	border: none;
	border-top: 1px solid #333;
	color: #333;
	overflow: visible;
	text-align: center;
	height: 5px;
}

.project-container > #project-description {

}

#site-main > #site-items {
	grid-area: items;
	background-color: #888;
}

#site-footer {
	flex-shrink: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	height: 100px;
}

@media all and (max-width: 1000px) {
	#site-main {
		grid-template-areas:
			"projects"
			"items";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
	}

	#site-projects-body {
		height: 250px;
		overflow-y: scroll;
	}
}
